@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


/* navigation bar style--------------------------------- */
header {
    background: rgba(255, 144, 14, 0.1);

}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 228px 102px 228px;
}

header nav .nav-icon {
    font-weight: 700;
    font-size: 45px;
}

header nav .nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-align: center;
}

/* Banner style --------------------------------------------------------------- */
.banner {
    text-align: center;
}

.banner .banner-tittle {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.banner .paragraph {
    width: 60%;
    margin: 15px auto 30px auto;


}

.btn-orange {
    display: block;
    padding: 24px;
    margin: auto;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
}

.banner img {
    width: 80%;
    margin: 50px auto 45px auto;
}

/*---------- feature list ---------------------------------------------------------------
------------------------------ */
.feature-list {
    display: flex;
    gap: 73px;
    align-items: center;
    width: 80%;
    margin: 85px auto;
}

.feature-list .feature-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin: auto .18% auto .18% auto;

}

article .feature-list-head {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

article .feature-list-head span {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

article .feature-list-tail {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
    margin-bottom: 24px;
}

.feature-list .paragraph {
    margin-bottom: 32px;
}

.feature-list-article .btn-orange {
    margin-left: 0px;
}

/* Love and enjoy feature----------------------------------------------------------------- */

.feature-love-section {
    display: flex;
    gap: 54px;
    align-items: center;
    width: 80%;
    margin: 85px auto;
}

.feature-love-article .feature-love-tittle {
    font-weight: 700;
    font-size: 45px;
    padding-left: 21px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.feature-love-details {
    margin-top: 30px;
}

.feature-love-paragraph {
    padding: 30px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature-love-paragraph .paragraph-tittle {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.feature-love-section .btn-orange {
    font-weight: 500;
    font-size: 25px;

}

.feature-love-section .btn-orange span {
    font-weight: 700;
    font-size: 65px;
}

/* Facts style --------------------------------------------------------------------------------- */
.some-fact {
    width: 80%;
    margin: 45px auto;
}

.fact-tittle {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.some-fact .paragraph {
    width: 50%;
}

.fact-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.fact-list .facts-info {
    padding: 45px 35px 50px 35px;
    text-align: center;
}

.facts-info h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 10px auto 5px auto;
}

.facts-info p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}